/*-Navengacion subtitulos-*/

#usuarios_div{
    height: 800px;
}

#usuarios_divruta{
    display: flex;
    margin-bottom: -15px;
    align-items: center;
    margin: 10px;
    display: flex;
    gap: 7px;
}

#usuarios_iconos{
    height: 20px;
    width: 20px;
}

#usuarios_textrutas{
    font-size: 18px;
}

#usuarios_linkinicio{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
/*-Conteido de pagina-*/
#buscar_form{
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 60px;
    gap: 30px;
}

#usuarios_tabla{  
  width: fit-content;
  margin: 0 auto; 
  margin-top: 50px;
  width: 900px;
  height: auto;
}

#button{
    background-color: white;
    text-decoration: none;
}

