#beneficio_div{
  height: 700px;
}

#beneficio_divruta{
  display: flex;
  margin-bottom: -15px;
  align-items: center;
  margin: 10px;
  display: flex;
  gap: 7px;
}

#beneficio_iconos{
  height: 20px;
  width: 20px;
}

#beneficio_textrutas{
  font-size: 18px;
}

#beneficio_linkinicio{
  font-size: 18px;
  text-decoration: none;
  color: black;
}

#beneficio_form{
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 60px;
  gap: 30px;
}