/*-Navengacion subtitulos-*/
#instituciones_div{
    height: 800px;
}

#instituciones_divruta{
    display: flex;
    margin-bottom: -15px;
    align-items: center;
    margin: 10px;
    display: flex;
    gap: 7px;
}

#instituciones_iconos{
    height: 20px;
    width: 20px;
}

#instituciones_textrutas{
    font-size: 18px;
}

#instituciones_linkinicio{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
/*-Conteido de pagina-*/

#instituciones_form{
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 60px;
    gap: 30px;
}

#instituciones_divinfomacion{
    display: flex;
    width: 450px;
    height: 80px;
    align-items: center;
}

#instituciones_inputstext{
    width: 250px;
}

#busc_ins{
    width: fit-content;
    margin: 0 auto; 
    margin-top: 40px;
}

#instituciones_table{
    width: fit-content;
    margin: 0 auto; 
    width: 900px;
    margin-top: 50px;
}