/*-Navengacion subtitulos-*/
#archivos_div{
    min-height: 800px;
}

#archivos_divruta{
    display: flex;
    margin-bottom: -15px;
    align-items: center;
    margin: 10px;
    display: flex;
    gap: 7px;
}

#archivos_iconos{
    height: 20px;
    width: 20px;
}

#archivos_textrutas{
    font-size: 18px;
}

#archivos_linkinicio{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
/*-Conteido de pagina-*/
#archivos_selector{
    width: fit-content;
    margin: 0 auto; 
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#archivos_tema{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#archivos_seleccionar{
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(119, 109, 109);
    color: rgb(8, 8, 8);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 250px;
}