#login_back {
  background: rgb(237, 19, 45);
  background: linear-gradient(194deg, rgba(237, 19, 45, 1) 0%, rgba(204, 90, 71, 1) 100%);
  min-height: 100vh;
}

#login_card {
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px;
  border-radius: 20px;
  height: auto;
  box-shadow: 10px 10px 7px 3px rgba(0, 0, 0, 0.2);
}

#login_div_bienvenido {
  color: rgb(66, 63, 63);
  width: fit-content;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
}

#login_tex1 {
  font-size: 27px;
}

#login_tex2 {
  font-size: 21px;
  margin-top: 20px;
}

#login_tex3 {
  font-size: 17px;
  margin-top: -5px;
}

#login_divimg {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}

#login_img {
  height: 200px;
}

#login_alerterror{
  position: "absolute";
  z-index: 100;
}

#login_usform {
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  width: 400px;
  height: auto;
  font-family: 'Nunito', sans-serif;
}

#login_passwordform {
  margin-top: 50px;
}

#login_div_boton {
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;

}

#login_boton_ingresar {
  display: flex;
  gap: 15px;
  box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
}

#login_div_link {
  margin-top: 15px;
  text-decoration-line: none;
}

#login_link_res {
  color: rgb(75, 72, 72);
  text-decoration-line: none;
  font-family: 'Inter', sans-serif;
}

#password-icon {
  position: absolute;
  right: 40px;
  top: 525px;
  cursor: pointer;
}